@font-face {
  src: url(./Inter-Regular.woff2) format('woff2'),
  url(./Inter-Regular.woff) format('woff');
  font-family: 'Inter';
  font-weight: normal;
}

@font-face {
  src: url(./Inter-Light.woff2) format('woff2'),
  url(./Inter-Light.woff) format('woff');
  font-family: 'Inter';
  font-weight: lighter;
}

@font-face {
  src: url(./Inter-Bold.woff2) format('woff2'),
  url(./Inter-Bold.woff) format('woff');
  font-family: 'Inter';
  font-weight: bold;
}

@font-face {
  src: url(./Inter-SemiBold.woff2) format('woff2'),
  url(./Inter-SemiBold.woff) format('woff');
  font-family: 'Inter';
  font-weight: semibold;
}

@font-face {
  src: url(./Inter-Thin.woff2) format('woff2'),
  url(./Inter-Thin.woff) format('woff');
  font-family: 'Inter';
  font-weight: thin;
}

@font-face {
  src: url(./Inter-Medium.woff2) format('woff2'),
  url(./Inter-Medium.woff) format('woff');
  font-family: 'Inter';
  font-weight: medium;
}

@font-face {
  src: url(./Inter-Black.woff2) format('woff2'),
  url(./Inter-Black.woff) format('woff');
  font-family: 'Inter';
  font-weight: 900;
}